@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,300;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  padding: 0;       
  background-size:100% ;
  z-index: 0;
}

nav{
    text-align: center;
    margin: 0;
}

nav li{
    display: inline-block;
}
nav a{
    display: inline-block;
    color: rgb(255, 246, 246);
    text-decoration: none;
    padding: 0px 50px 10px 0;
    font-size: 20px;
    position: relative;
}

nav a::after{
    content: " ";
    width: 0%;
    height: 4px;
    background-color: orange;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}

nav a:hover::after{
    width: 80%;
}

.espaco_logo{
    display: flex;
}

.dropdown-menu{
    background: linear-gradient(90deg, rgba(212, 14, 149, 0.171) 0%, rgba(170, 78, 16, 0.123) 52%, rgba(114, 18, 141, 0.151) 100%);
    position: absolute;
    justify-content: center;
    padding: 15px;
    display: none;
}
.dropdown-menu a{
    display: block;
}
.dropdown:hover .dropdown-menu{
    display: block;
}

.pagina_inicial{

    display: absolute;
    justify-items: center;
    justify-content: space-evenly;
    
}
.card_pagina_inicial{
    /* filter: grayscale(20%); - FILTRO PARA DEIXAR A IAMGEM PRETO E BRANCO */
    background: linear-gradient(rgba(63, 60, 60, 0.644), rgba(255, 255, 255, 0.3)),url(imgens-Ana/logo-manalibrando-fundo.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    position: flex;
    display: absolute;
    justify-items: center;
    justify-content: space-evenly;
    margin: 0;
    height: 600px;
    width: auto;
    background-color: white;
    z-index: 0;
}

.ah{
    padding: 10px;
    position: relative;
    display: block;
    color: white;
    left: 0;
    margin-left: 100px;
    height: 300px;
    top: 100px;
    
}
.ah h1{
    margin: 0px;
    font-size: 80px;
    font-family: "Russo One", sans-serif;
    z-index: 0;
}

.ah h2{
    margin: 0px;
    font-size: 30px;
    font-family:  "Ciclo de Notícias", sans-serif;
}
.paragrafo-inicio {
    z-index: 0; /* Valor alto para trazer para frente */;
    position: relative;
    margin-bottom: 0px;
    font-size: 28px;
}

.frase-impacto {
    margin: 0px;
    font-size: 50px;
    font-family: "Russo One", sans-serif;
}
.frase-impacto p{
    font-size: 30px;
}

.card_pagina_inicial2{
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: flex;
    display: flex;
    margin: 0;
    height: 600px;
    width: 100%;
    background-color: white;
    z-index: 0;
}



.card_pagina_inicial3{
    background-image: url(Background_pg_inicial.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: flex;
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    margin: 0;
    height: 600px;
    width: 100%;
    background-color: white;
    z-index: 0;
    text-align: center;
}
/*-------------------------------------------_Rolagem infinita  _------------------------------------------------*/
.slider-container{
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
  }
  .slider-content {
    overflow: hidden;
    border-radius: 25px;
    margin: 0 40px;
  }
  
  
  .card-content {
    padding: 10px 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .button {
    position: absolute;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: #4070f4;
    color: white;
    margin: 14px;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: 400;
    cursor: pointer;
    transition: all ease 0.3s;
    opacity: 0;
  }
  
  
  .center {
    width: 180px;
    height: 60px;
    position: absolute;
  }
  
  .btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
    opacity: 0;
  }
  
  svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out ;
  }
  
  
  .btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
  }
  
  .swiper-navBtn{
    color: #6e93f7;
    transition: color 0.3s ease;
  }
  .swiper-navBtn:hover{
    color: #4070f4;
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after{
    font-size: 40px;
  }
  .swiper-button-next{
    right: 0;
  }
  .swiper-button-prev{
    left: 0;
  }
  .swiper-pagination.bullet{
    background-color: #6e93f7;
    opacity: 1;
  }
  .swiper-pagination.bullet-active{
    background-color: #4070f4;
  }
  @media screen and (max-width:768px) {
    .slider-content{
      margin: 0 10px;
    }
    .swiper-navBtn{
      display: none;
    }
  }
  /*-------------------------------------------_Rolagem infinita_------------------------------------------------*/
  
  
  /*------------------------------------CARDS INFORMATIVOS-----------------------------------------------------------*/
  .container-card-informativo{
    display: absolute;
  }
  
  .card-informativo{
    display: absolute;
    width: 100%;
    height: 400px;
    margin: 70px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
    border-radius: 10px;
  }
  .img-card-informativo{
    height: 100%;
    width: 100%;
    border-radius: 3px;
    transition: .5s;
    
  }
  
  .intro{
    height:200px;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    bottom: 240px;
    background: rgb(27, 27, 27, .5);
    color: white;
    transition: .5s;
    top: 30%;
    z-index: 0;
  }
  
  
  .h1-card-informativo{
    margin: 10px;
    font-size: 40px;
  }
  
  .p-card-informtivo{
    font-size: 20px;
    margin:20px;
    visibility: hidden;
    opacity: 0;
  }
  
  span{
    font-weight: bold;
  }
  
  .card-informativo:hover{
    cursor: pointer;
  }
  
  .card-informativo:hover .intro{ 
    height:250px;
    bottom: 240px;
    background: black;
  }
  .card-informativo:hover .btn {
    transition: 1s ease-in-out;
    background: #4F95DA;
    opacity: 1;
  }
  
  .card-informativo:hover .btn {
    stroke-dashoffset: -480;
  }
  
  
  .card-informativo:hover p{
    opacity: 1;
    visibility: visible;
  }
  
  .card-informativo:hover img{
    transform: scale(1.1) rotate(-3deg);
  }
.parte_inf_card2{
    flex-direction: row;
}

.box {
    width: 50%;
    float: left;
    height: 500px;/*Altura da linha*/
}

.linha-vertical {
    border-left: 2px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
    box-sizing: border-box;
}
.box{
    flex-direction: row;
}

.simples{
    text-align: end;
}


/* ************************************************************************************************ */
/* Alterações Ana */

.img-not{
    /* Essas alterações que fiz colocam a mimagem do lado do texto
    e o menu fixo passa por cima da imagem*/

    /* Comando de posição */
    position: absolute;
    /* Elementos auxiliares */
    top: 60px;         
    left: 385px;
}
.img-not img{
    height: 540px;
}

.logo-img img{
    width: 90px;
    height: 90px;
}

.logo-img img:hover{
    transform: translateY(-10px) scale(1.07) rotateX(1deg); 
    
}

/*-------------------MENU HAMBURGUER----------------------------------------------------*/
header{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: whitesmoke;
    background-color:  rgba(23, 23, 23, .4);
}

.menu-hamburger{
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu-hamburguer-elements{
    position: relative;
    z-index: 9999; /* Valor alto para trazer para frente */;
    background-color: transparent;
    backdrop-filter: blur(5px);
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    height: 80px;
    margin-top: 0;
    padding: 0;
    width: 100%;
    top:0;
}

.menu-hamburguer-elements li{
    list-style: none;
    font-size: 1.4rem;
    margin: 2rem 0;
    font-size: 1.4rem;
    list-style: none;
}

.menu-hamburguer-elements a{
    color: white;
    text-decoration: none;
}

.menu-hamburguer-elements a:hover{
    color: rgba(20,20,20,.8)
}


/* BOTÃO MENU HAMBURGUER */
.menu {
    background-color: rgb(214, 161, 214);
    width: 60px;
    height: 60px;
    margin: 1rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
  
.hamburguer {
    position: relative;
    display: block;
    background: #fff;
    width: 30px;
    height: 2px;
    top: 29px;
    left: 15px;
    transition: 0.5s ease-in-out;
}
  
.hamburguer:before,
.hamburguer:after {
    background: #ffff;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s ease-in-out;
}
  
.hamburguer:before {
    top: -10px;
}
  
.hamburguer:after {
    bottom: -10px;
}
  
input {
    display: none;
}

/* rotação dos elementos do span */
input:checked ~ label .hamburguer {
    transform: rotate(45deg);
}

input:checked ~ label .hamburguer:before {
    transform: rotate(90deg);
    top: 0;
}
  
input:checked ~ label .hamburguer:after {
    transform: rotate(90deg);
    bottom: 0;
}

input:checked ~ .menu-hamburguer-elements{
    left: 0;
}

/* ATIVANDO O BOTÃO HAMBURGUER QUANDO O TAMANHO DA TELA ATINGIR 600PX */
@media (max-width: 600px){
    
    header{
        height: 20%;
    }

    .menu-hamburguer-elements a:hover{
        color: rgb(214, 161, 214);
    }
    
    .menu-hamburger{
        display: flex;
        width: auto;
        flex-direction: column;
        align-self: flex-start;
        overflow: auto;
        z-index: 1;
        color: white
    }

    .menu-hamburguer-elements{
        width: 60%;
        height: 100%;
        background-color: rgba(10,10,10,.9);
        position: fixed;
        left: -60%;
        top: 0;
    
        transition: left cubic-bezier(1,0,0,1) .8s;
        
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    
        padding-top: 15vh;
    
        z-index: -1;
    }

    .menu{
        display: flex;
        height: 60px;
        width: 60px;
    }

}
/*-------------------MENU HAMBURGUER----------------------------------------------------*/

/*-------------------FOOTER - informações e contato no fim da pagina----------------------------------------------------*/

footer{
    background: #483285;  
}
.footerContainer{
    width: 100%;
    margin: 0;
    padding: 0;
}

.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
}

/*Icons - Footer*/
.box-footer{
    width: 65px;
    height: 68px;
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 0.6rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all .4s ease;
}
.box-footer:hover{
    width: 200px;
    background: #c32aa3;
    border-radius: 35px;
    color: #fff;
    box-shadow: 0 0 50px #b315917c;
}
.box-footer:nth-child(2):hover{
    background: #25d366;
    box-shadow: 0 0 50px #25d3657e;
}
.box-footer:nth-child(3):hover{
    background: #1877f2;
    box-shadow: 0 0 50px #1876f285;
}
.box-footer:nth-child(4):hover{
    background: #1da1f2;
    box-shadow: 0 0 50px #1da0f280;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.navbar p{
    margin-left:10px;
    transform: translate(60px);
}
.box-footer .icon{
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    margin-right: 10px;
    transition: all .4s ease;
}
.instagram{
    background-color: #c32aa3;
}
.whatsapp{
    background-color: #25d366;
}
.facebook{
    background-color: #1877f2;
}
.twitter{
    background-color: #1da1f2;
}
.box-footer:hover .icon{
    background: #fff;
    color: #3b3b3b;
    box-shadow: 0 0 20px rgba(0,0,0,0.26);
}


/*-------------------FOOTER - informações e contato no fim da pagina----------------------------------------------------*/


div.arrow {
	width: 6vmin;
	height: 6vmin;
	box-sizing: border-box;
	position: fixed;
	left: 93%;
	top: 80%;
	transform: rotate(-45deg);
    z-index: 99999999999;
	
	&::before {
		content: '';
		width: 100%;
		height: 100%;
		border-width: .8vmin .8vmin 0 0;
		border-style: solid;
		border-color: #fafafa;
		transition: .2s ease;
		display: block;
		transform-origin: 100% 0;
	}

	
	&:after {
		content: '';
		float: left;
		position: relative;
		top: -100%;
		width: 100%;
		height: 100%;
		border-width: 0 .8vmin 0 0;
		border-style: solid;
		border-color: #fafafa;
		transform-origin: 100% 0;
		transition:.2s ease;
	}
	
	&:hover::after {
		transform: rotate(45deg);
		border-color: orange;
		height: 120%;
	}
	&:hover::before {
		border-color: orange;
		transform: scale(.8);
		
	}
	
}
