body{
    display: flex;
    justify-content:center;
    height: 100vh;
    align-items: center;
}

.container-card-informativo{
    display: flex;
}

.card-informativo{
    display: absolute;
    height: 500px;
    margin: 50px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
    border-radius: 10px;
}
.img-card-informativo{
    height: 500px;
    width: 350px;
    border-radius: 3px;
    transition: .5s;

}

.intro{
    
    height:70px;
    width: 350px;
    box-sizing: border-box;
    position: absolute;
    bottom: 240px;
    background: rgb(27, 27, 27, .5);
    color: white;
    transition: .5s;
    top: 55%;
}

.h1-card-informativo{
    margin: 10px;
    font-size: 40px;
}

.p-card-informtivo{
    font-size: 20px;
    margin:20px;
    visibility: hidden;
    opacity: 0;
}

span{
    font-weight: bold;
}

.card:hover{
    cursor: pointer;
}

.card:hover .intro{
    height:220px;
    bottom: 240px;
    background: black;
}
.card:hover p{
    opacity: 1;
    visibility: visible;
}

.card:hover img{
    transform: scale(1.1) rotate(-3deg);
}